<a href="https://colab.research.google.com/github/viveksahukar/kaggle_pulmonary_fibrosis/blob/master/pf_first_basic_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import torch as th
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# Set path to the data
import os
os.chdir('/content/gdrive/My Drive/colab_work_DS/kaggle_pf/')

In [ ]:
meta = pd.read_csv('meta_data.csv')

In [ ]:
meta.Patient.value_counts()

ID00078637202199415319443    1018
ID00202637202249376026949     825
ID00173637202238329754031     602
ID00180637202240177410333     577
ID00035637202182204917484     574
                             ...
ID00214637202257820847190      18
ID00126637202218610655908      17
ID00229637202260254240583      17
ID00248637202266698862378      16
ID00165637202237320314458      12
Name: Patient, Length: 173, dtype: int64

In [ ]:
train = pd.read_csv('train.csv')

In [ ]:
train.Patient.value_counts()

ID00421637202311550012437    10
ID00140637202231728595149    10
ID00343637202287577133798    10
ID00119637202215426335765    10
ID00167637202237397919352    10
                             ..
ID00344637202287684217717     7
ID00276637202271694539978     7
ID00111637202210956877205     7
ID00047637202184938901501     6
ID00267637202270790561585     6
Name: Patient, Length: 176, dtype: int64

In [ ]:
pid = 'ID00007637202177411956430'
train[train.Patient == pid].Patient.value_counts()

ID00007637202177411956430    9
Name: Patient, dtype: int64

In [ ]:
meta[meta.Patient == pid].Patient.value_counts()

ID00007637202177411956430    30
Name: Patient, dtype: int64

In [ ]:
df_meta = meta.groupby(['Patient']).agg(
    {
     'img_mean': ['mean', 'std'],
     'img_std':['mean', 'std']
    }
)
df_meta.columns = df_meta.columns.map('_'.join)
df_meta = df_meta.reset_index()

In [ ]:
df_patient = pd.merge(left=df_meta, right=train, how='left', on='Patient')

In [ ]:
df_patient

                        Patient  img_mean_mean  ...   Sex  SmokingStatus
0     ID00007637202177411956430      97.884207  ...  Male      Ex-smoker
1     ID00007637202177411956430      97.884207  ...  Male      Ex-smoker
2     ID00007637202177411956430      97.884207  ...  Male      Ex-smoker
3     ID00007637202177411956430      97.884207  ...  Male      Ex-smoker
4     ID00007637202177411956430      97.884207  ...  Male      Ex-smoker
...                         ...            ...  ...   ...            ...
1519  ID00426637202313170790466     535.176502  ...  Male   Never smoked
1520  ID00426637202313170790466     535.176502  ...  Male   Never smoked
1521  ID00426637202313170790466     535.176502  ...  Male   Never smoked
1522  ID00426637202313170790466     535.176502  ...  Male   Never smoked
1523  ID00426637202313170790466     535.176502  ...  Male   Never smoked

[1524 rows x 11 columns]